<%
if(loggedin){
  // console.log(username);
  %>
  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Creed Thoughts | Admin</title>
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/style.css">
      <link rel="icon" href="../images/logo.png" width="64px">
      <script type="text/javascript" src="../../index.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    </head>
    <body>
      <div class="content-wrap">
        <div id="header"></div>
        <section>
          <div class="container-fluid" style="padding:0px">
            <div class="row no-gutters">
              <div class="col-12 ">
                <div class="overlay" style="background-image: url('../images/hero1.png')"></div>
                <div class="canvas">
                  <!-- <p>Logged in as</p> -->
                  <h1><%=user.name%></h1>
                  <h5>Logged in as <%=user.name%>@<%=user.username%></h5>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br>
        <section>
        <div class="container">
          <%for(i=0;i<vars.topic.length;i++){%>
          <div class="row">
          <div class="col-md-12">
          <h3><%=vars.topic[i].topicName%></h3>
          <div class="row">
            <%for(j=0;i<vars.blog.length&&vars.blog[j]!=null;j++){
              if(vars.topic[i].topicName==vars.blog[j].topic){
              %>
              <div class="col-md-3">
                    <div class="blog-card-2 edit" data-aos="fade-left"  data-aos-delay="<%=((j*100)+100)%300%>">
                      <div class="row no-gutters">
                        <div class="col-12">
                          <div class="blog-card-2-img">
                            <div class="option-con">
                              <button class="btn btn-opt" id="btnOpt" onclick="toggle_option_grp(<%=j%>)" ><i class="fa fa-ellipsis-v"></i></button>
                              <div class="option-grp" id="optionGrp_<%=j%>">
                                <form class="" action="admin/edit_post" method="post">
                                  <input type="hidden" name="edit_heading" value="<%=vars.blog[j].heading%>">
                                  <button class="btn btn1" type="submit"><i class="fa fa-pencil"></i></button>
                                </form>
                                <form class="" action="admin/delete_post" method="post">
                                  <input type="hidden" name="edit_heading" value="<%=vars.blog[j].heading%>">
                                  <button class="btn btn1" type="submit"><i class="fa fa-trash"></i></button>
                                </form>
                              </div>
                            </div>
                            <img src="/images/posts/<%=vars.blog[j].image%>" alt="">
                          </div>
                        </div>
                        </div>
                        <div class="row no-gutters">
                        <div class="col-12">
                          <div class="blog-card-2-body">

                            <h5><%=vars.blog[j].heading%></h5>
                            <!-- <div class="card-footer-2">
                              <form class="" action="admin/edit_post" method="post">
                                <input type="hidden" name="edit_heading" value="<%=vars.blog[j].heading%>">
                                <button class="btn btn1" type="submit">edit</button>
                              </form>
                              <button class="btn btn1">delete</button>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            <%}}%>
          </div>
          </div>
          </div>
          <%}%>
          </div>
        </div>
        </section>
      </div>
      <br>
      <footer id="footer" class="footer-admin"></footer>

      <script type="text/javascript">
   $(document).ready(function(){
   $("#header").load("components/header.html");
   $("#footer").load("components/footer.html");})
      </script>
      <script type="text/javascript">
        function toggle_option_grp(n) {
          var idd="optionGrp_"+n;
          var btn = document.getElementById(idd);
          if(btn.style.visibility==="hidden"){
            btn.style.visibility="visible";
            btn.style.opacity="1";
            btn.style.top="5px";
          }
          else{
            btn.style.visibility="hidden";
            btn.style.opacity="0";
            btn.style.top="-15px";
          }
        }
      </script>
      <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init({duration:1000,once: true});
      </script>
    </body>
  </html>
  <%
}
else{%>
  <script type="text/javascript">
    alert('Please Login to continue');
    window.location='/login';
  </script>
<%}
%>
